[features]
seeds = true
skip-lint = false

[programs.localnet]
wager_escrow = "F3AD5yK9rRiCQWesXeSQSTAmRDbe8ruvQVChE5vsyjnR"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn -s ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"


